.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.btn{
    border: 2px solid #000 !important;
    width: 250px !important;
}